
body.palm-default {
 background: url(../../images/subtlepatterns/irongrip.png) center center repeat;
}

.thing {
  border: 1px solid black;
  background: url(../../images/subtlepatterns/brushed_alu_dark.png) center center repeat;
  font-size: 15px;
  color: black;
  padding: 10px 12px 6px 12px;
  margin: 3px 0px 3px 4px;
  overflow: auto;
}
.reddit_article {
  position:relative; /* for comment counter */
}

.reddit_comment {
  padding: 10px 12px 10px 12px;
  margin: 0px 0px 3px 4px;
}

.reddit_op_comment {
  padding: 10px 12px 10px 12px;
  margin: 0px 0px 3px 4px;
}

.subreddit_info {
  background-color: black;
  color: silver;
  z-index: -100;
  width: 80%;  
  font-size: 15px;
  padding: 18px;
  margin: -12px 6px 6px 12px;
  position:relative; /* for comment counter */
}

.comment_counter {
  text-align : center;
  font-size: 15px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  color: silver;  
  padding: 0px 4px;
  margin-top:0px;  
  background: url(../../images/comment.png) no-repeat;
  -webkit-background-size: 100% 100%;
}

.comment_desc {
  float: left;
  margin: 4px 0px;
  color: grey;
  font-size: 0.8em;
}

.article_desc {
  font-size: 0.8em;
  color: grey;
  margin-top: 6px;
  float: left;
  clear: both;
}

.comment_tag {
  text-align : left;
  font-size: 15px;
  line-height: 40px;
  width: 50px;
  height: 40px;
  color: red;  
  padding: 0px;
  margin: 0px -18px 5px 5px;  
  background: url(../../images/comment_tag.png) no-repeat;
  background-size: 100%;
  float:right;
}
