
#bar {
  width:1030px;
  height: 15px;
  margin: -7px;
  background: url(../../images/glass/topbar.png) center center repeat;
  background-attachment:fixed;
  -webkit-background-size: 100% 100%;
}

#reddit-heading {
  -webkit-transition: left 0.5s ease-out;
}

.reddit_thumbnail {
  float:left;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  -webkit-border-radius: 4px;
}

.make-it-fat {
  -webkit-transition-property: width;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: 'ease-out';
}

.bring-it-in {
  opacity: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: 'ease-out';
}

.take-it-away {
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: 'ease-in';
}

#left-pane {
  width: 40%;
  float: left;
}

#right-pane {
  width: 60%;
  float: right;
}

.palm-scrim {
  opacity: 0;
  -webkit-background-size: 0% 0%;
}

.palm-button {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.about-scene {
  font-size: large;
}

.dashboard-icon-reddit {
	background: url(../../icon.png) center center no-repeat;
	-webkit-background-size: 32px 32px;
}

.wrappertest {
  background-color : black;
  -webkit-background-size: 101% 101%;
}

.toggle_hidden {
  display: none;
}

.upvote_icon {
  width: 22px;
  height: 20px;
  background: url(../../images/upvote.png) center center repeat;
  margin-top: 15px;
}

.selected_upvote_icon {
  width: 22px;
  height: 20px;
  background: url(../../images/upvote-selected.png) center center repeat;
  margin-top: 15px;
}

.downvote_icon {
  width: 22px;
  height: 20px;
  background: url(../../images/downvote.png) center center repeat;
  margin-top: 15px;
}

.selected_downvote_icon {
  width: 22px;
  height: 20px;
  background: url(../../images/downvote-selected.png) center center repeat;
  margin-top: 15px;
}

.load_more_comment {
  color: red;
  padding: 10px 18px 18px 18px;
  margin: 3px 0px 3px 4px;
  /*height: 8px;*/
}

.user {
  position:relative; /* for comment counter */
}

.subreddit {
  position:relative; /* for comment counter */
}

.column {
  height: 40px;
  width: 48px;
  top:50%;
  /*background-color : red;*/
  right: 10px;
  position:absolute;
  margin-top:-20px;
  padding: 0px;
}

.comment_tag_hidden {
  display: none;
}

.comment_description {    
 width: 83%;
}

.reddit_embedded_link {
  float: inherit;
  padding: 5px 1px;
}

blockquote {
  border-left: 2px solid #336699;
  margin: 5px 15px 5px 5px;
  padding-left: 4px;
}

.comment_spacer {
  font-size: small;
  padding: 0px 0px 15px;
}

.vote_desc {
  float: right; 
  font-size: small;
  color: red;
  margin: 4px 0px;
}

.loading {
  -webkit-transition: left 0.5s ease-in-out;
  background-color:black;
  color:white;
  position:fixed;
  left:-200px;
  top: 50%;
  font-size: large;
  z-index:99999;
  padding: 5px;
  border-top: solid 1px gray;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
}

#right-pane-loading {
  -webkit-transition: right 0.5s ease-in-out;
  background-color:black;
  color:white;
  position:fixed;
  right:-200px;
  top: 50%;
  font-size: large;
  z-index:99999;
  padding: 5px;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px gray;
}

.image_title {
  background-color: black;
  color:white;
  opacity:0.5;
  width:100%;
  top:0px;
  left:0px;
  z-index:99999;
  position:fixed;
  font-size: large;
  text-align: center;
  padding: 5px 0px;
  border-bottom: 1px solid black;
}