
body.palm-default {
 background: url(../../images/gradient-background.png) center center repeat;
 background-attachment:fixed;
 -webkit-background-size: 101% 101%;
}

.md p, .md h1 {
  margin: 5px 0;
  padding: 0;
  font-size: large;
}

.thing {
  -webkit-border-image: url(../../images/glass/outdent.png) 38 38 36 34 stretch stretch;
  font-size: large;
  color: silver;
  margin: 3px 6px 3px 6px;
  overflow: auto;
}

.reddit_article {
  position:relative; /* for comment counter */
  padding: 10px 18px 6px 18px;
}

.reddit_comment {
  padding: 10px 12px 10px 12px;
  margin: 0px -5px 3px 4px;
  -webkit-border-radius: 6px 0px 0px 6px;
}

.reddit_op_comment {
  padding: 10px 12px 10px 12px;
  margin: 0px -5px 3px 4px;
  -webkit-border-radius: 6px 0px 0px 6px;
}

.subreddit_info {
  -webkit-border-image: url(../../images/glass/outdent.png) 38 38 36 34 stretch stretch;
  /*visibility: hidden;*/
  z-index: -100;
  width: 80%;  
  font-size: large;
  color: silver;
  padding: 18px;
  margin: -12px 6px 6px 12px;
  -webkit-border-radius: 6px;
  position:relative; /* for comment counter */
}

.comment_counter {
  -webkit-border-image: url(../../images/glass/indent.png) 38 38 36 34 stretch stretch;
  text-align : center;
  font-size: small;
  line-height: 40px;
  width: 40px;
  height: 40px;
  color: silver;  
  padding: 0px 4px;
  margin-top:0px;
}

.article_desc_author {
  font-weight: bold;
  color: grey;
}

.comment_desc {
  float: left;
  margin: 4px 0px;
  color: grey;
  font-size: small;
}

.article_desc {
  font-size: small;
  color: grey;
  margin-top: 6px;
  float: left;
  clear: both;
}

.comment_tag {
  -webkit-border-image: url(../../images/glass/indent.png) 38 38 36 34 stretch stretch;
  text-align : center;
  font-size: large;
  line-height: 40px;
  width: 40px;
  height: 40px;
  color: red;  
  padding: 0px;
  margin: 0px -18px 5px 5px;  
  background-size: 100%;
  float:right;
}
