
body.palm-default {
  background-color: white;
/* background: url(../../images/gradient-background-custom.png) center center repeat;
 background-attachment:fixed;
 -webkit-background-size: 101% 101%;
*/}

.md p, .md h1 {
  margin: 5px 0;
  padding: 0;
  font-size: medium;
}

.thing {
  font-size: large;
  color: blue;
  padding: 10px 18px 6px 0px;
  margin: 3px 6px 3px 6px;
  overflow: auto;
}

.reddit_article {
  position:relative; /* for comment counter */
}

.reddit_comment {
  color: black;
  padding: 4px 9px 4px 9px;
  margin: 0px 0px 3px 0px;
  border-left:1px dotted blue;
}

.reddit_op_comment {
  color: black;
  padding: 4px 9px 4px 9px;
  margin: 0px 0px 3px 0px;
}

.subreddit_info {
  /*visibility: hidden;*/
  z-index: -100;
  color: black;
  font-size: small;
  padding: 18px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -12px;
  margin-bottom: 6px;
  -webkit-border-radius: 6px;
  position:relative; /* for comment counter */
}

.comment_counter {
  text-align : center;
  font-size: small;
  line-height: 40px;
  width: 40px;
  height: 40px;
  color: black;  
  padding: 0px 4px;
  margin-top:0px;  
  background: url(../../images/comment-light.png) no-repeat;
  -webkit-background-size: 100% 100%;
}

.comment_desc {
  float: left;
  margin: 4px 0px;
  color: #888;
  font-size: small;
}

.article_desc_author {
  font-weight: bold;
  font-size: medium;
  color: #336699;
}

.article_desc {
  font-size: small;
  color: #888;
  margin-top: 6px;
  float: left;
  clear: both;
}

.comment_tag {
  text-align : left;
  font-size: large;
  line-height: 40px;
  width: 50px;
  height: 40px;
  color: red;  
  padding: 0px;
  margin: 0px -18px 5px 5px;  
  background: url(../../images/comment_tag.png) no-repeat;
  background-size: 100%;
  float:right;
}
