
body.palm-default {
 background: url(../../images/textures/3.png) center center repeat;
 background-attachment:fixed;
 -webkit-background-size: 128px 128px;
}

.md p, .md h1 {
  margin: 5px 0;
  padding: 0;
  font-size: large;
}

.thing {
  background: url(../../images/textures/2.png) center center repeat;
  font-size: large;
  background-color: black;
  color: silver;
  padding: 10px 12px 6px 12px;
  margin: 3px 0px 3px 4px;
  -webkit-border-radius: 6px 0px 0px 6px;
  overflow: auto;
}

.reddit_article {
  position:relative; /* for comment counter */
}

.reddit_comment {
  padding: 10px 12px 10px 12px;
  margin: 0px 0px 3px 4px;
  -webkit-border-radius: 6px 0px 0px 6px;
}

.reddit_op_comment {
  padding: 10px 12px 10px 12px;
  margin: 0px 0px 3px 4px;
  -webkit-border-radius: 6px 0px 0px 6px;
}

.subreddit_info {
  background: url(../../images/textures/2.png) center center repeat;
  z-index: -100;
  width: 80%;  
  font-size: large;
  color: silver;
  padding: 18px;
  margin: -12px 6px 6px 12px;
  -webkit-border-radius: 6px;
  position:relative; /* for comment counter */
}

.comment_counter {
  text-align : center;
  font-size: small;
  line-height: 40px;
  width: 40px;
  height: 40px;
  color: silver;  
  padding: 0px 4px;
  margin-top:0px;  
  background: url(../../images/comment.png) no-repeat;
  -webkit-background-size: 100% 100%;
}

.comment_desc {
  float: left;
  margin: 4px 0px;
  color: grey;
  font-size: small;
}

.article_desc {
  font-size: small;
  color: grey;
  margin-top: 6px;
  float: left;
  clear: both;
}

.article_desc_author {
  font-weight: bold;
  color: grey;
}

.comment_tag {
  text-align : left;
  font-size: large;
  line-height: 40px;
  width: 50px;
  height: 40px;
  color: red;  
  padding: 0px;
  margin: 0px -18px 5px 5px;  
  background: url(../../images/comment_tag.png) no-repeat;
  background-size: 100%;
  float:right;
}
