
<div class="palm-hasheader">
	<div class="palm-header">
		About
	</div>
</div>

<div class="palm-header-spacer"></div>

<div>
  <div align='center'>Developed by Douglas Anderson</div>
  <br>
  <div align='center'>Tweet me: <a href="http://twitter.com/#!/tehtorq">@tehtorq</a></div>
  <br>
  <div align='center'><a href="mailto:i.am.douglas.anderson@gmail.com?Subject=IAmA%20reddit">Mail me</a></div>
  <br>
  <div align='center'>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BNANW6F5RNWD6" target="_blank"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" alt=""></a>
  </div>
  <br>
</div>
