
<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="title left" id="reddit-heading">
      About
    </div>
  </div>
</div>

<div>
    
  <div class="palm-group">
    <div class="palm-group-title">Your Support</div>
    <div class="palm-list">
      <div class='palm-row first last'>
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">
          <div align='center'>Many late nights and a <font color='black'>grumpy</font> girlfriend have gone into <font color='red'>IAmA reddit</font> to try and bring an engrossing reddit experience to webOS. Please consider a donation or purchase if you're enjoying the app. Feel free to contact me with feedback and suggestions. Your input is valuable. Thanks, and enjoy!</div>
          <br>
          <div align='center'>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BNANW6F5RNWD6" target="_blank"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="palm-group">
    <div class="palm-group-title">Top Contributors</div>
    <div class="palm-list">
      <div class='palm-row first last'>
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">              
          Steven Uy<br>
          Lee Roberson<br>
          Christoph Eschler<br>
          Bradford Lyon<br>
        </div>
      </div>
    </div>
  </div>
  
  <div class="palm-group">
    <div class="palm-group-title">Contact</div>
    <div class="palm-list">
      <div class='palm-row first last'>
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">   
          <div align='center'>Developed by Douglas Anderson</div>
          <div align='center'>Under <a href="http://subpixel-labs.com/">Subpixel Labs</a></div>
          <div align='center'>Tweet me: <a href="http://twitter.com/#!/tehtorq">@tehtorq</a></div>          
          <div align='center'><a href="mailto:i.am.douglas.anderson@gmail.com?Subject=IAmA%20reddit">Mail me</a></div>
        </div>
      </div>
    </div>
  </div>
  
</div>
