<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="title left un-capitalize" id="reddit-heading">
    </div>
  </div>
</div>

<div>

<div class="palm-group unlabeled">
    <div class="palm-list">

       <div class='palm-row first'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
               <div class="label">Username</div>
               <div id="textFieldId" x-mojo-element="TextField" align="left"></div>
             </div>
          </div>
       </div>

       <div class='palm-row last'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
                <div class="label">Password</div>
                <div id="passwordFieldId" x-mojo-element="PasswordField" align="left"></div>
             </div>
          </div>
       </div>
   </div>
</div>

<div x-mojo-element="Button" id="loginButton"></div>
<div id="contentarea" x-mojo-element="List"></div>
</div>