<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="title left" id="reddit-heading">
      Reddit
    </div>
  </div>
</div>

<div id="bar"></div>

<div id='filterfield' x-mojo-element='FilterField'></div>

<div id="left-pane">
  <div id="article-scroller" x-mojo-element="Scroller">
    <div>
      <div id="article-list" x-mojo-element="List"></div>
      <div x-mojo-element="Button" id="loadMoreButton"></div>
    </div>
  </div>
</div>

<div id="right-pane" class="take-it-away">
  <div id="comment-scroller" x-mojo-element="Scroller">
    <div>
      <div x-mojo-element="WebView" id="WebId" style=""></div>
    </div>
  </div>
  <div id="comment-scroller" x-mojo-element="Scroller">
    <div>
      <div id="comment-list" x-mojo-element="List"></div>
      <div x-mojo-element="Button" id="loadingCommentsButton"></div>
    </div>
  </div>
</div>

<div id="loading" class="loading"><div id="spinner" x-mojo-element="Spinner"></div></div>
<div id="right-pane-loading"><div id="comment-spinner" x-mojo-element="Spinner"></div></div>