<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="title left un-capitalize" id="reddit-heading">
    </div>
  </div>
</div>

<div id="bar"></div>

<div id='filterfield' x-mojo-element='FilterField'></div>

<div id="left-pane">
  
  <div id="article-scroller" x-mojo-element="Scroller">
    <div>
      <div id="article-list" x-mojo-element="List"></div>
      <div class="puller" id="puller">pull to refresh</div>
    </div>
  </div>
  
</div>

<div id="right-pane" class="take-it-away">
  
  <div id="tabs">
    <div id="weblink" class="tab-button">link</div>
    <div id="commentlink" class="tab-button">comments</div>
  </div>
  
  <div id="webview-scroller" x-mojo-element="Scroller">
    <div x-mojo-element="WebView" id="webview"></div>
  </div>
  
  <div id="comment-scroller" x-mojo-element="Scroller">
    <div>
      <div id="comment-list" x-mojo-element="List"></div>
      <div class="puller" id="comment-puller">loading</div>
    </div>
  </div>
  
</div>

<div id="loading" class="loading"><div id="spinner" x-mojo-element="Spinner"></div></div>
<div id="right-pane-loading"><div id="comment-spinner" x-mojo-element="Spinner"></div></div>