<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="title left un-capitalize" id="reddit-heading">
      reddit
    </div>
  </div>
</div>

<div id="bar"></div>

<div id='filterfield' x-mojo-element='FilterField'></div>

<div id="left-pane">
  
  <div id="article-scroller" x-mojo-element="Scroller">
    <div>
      <div id="article-list" x-mojo-element="List"></div>
      <div x-mojo-element="Button" id="loadMoreButton"></div>
    </div>
  </div>
  
</div>

<div id="right-pane" class="take-it-away">
  
  <div style="height:30px; width:40%;background-color: black; position: absolute; float: top; top: 20px; z-index: 999999">
    <div id="weblink" style="height:30px; width:50%; background-color: grey; float: left;text-align: center;-webkit-border-radius: 6px 6px 0px 0px;">URL</div>
    <div id="commentlink" style="height:30px; width:50%; background-color: grey; float: left;text-align: center;-webkit-border-radius: 6px 6px 0px 0px;">Comments</div>
  </div>
  
  <div id="webview-scroller" x-mojo-element="Scroller">
    <div x-mojo-element="WebView" id="webview"></div>
  </div>
  
  <div id="comment-scroller" x-mojo-element="Scroller">
    <div>
      <div id="comment-list" x-mojo-element="List"></div>
      <div x-mojo-element="Button" id="loadingCommentsButton"></div>
    </div>
  </div>
  
</div>

<div id="loading" class="loading"><div id="spinner" x-mojo-element="Spinner"></div></div>
<div id="right-pane-loading"><div id="comment-spinner" x-mojo-element="Spinner"></div></div>