
	<div class="palm-hasheader">
		<div class="palm-header">
			Preferences
		</div>
	</div>

  <div class="palm-header-spacer"></div>

  <div class="palm-group unlabeled">
    <div class="palm-list">

       <div class='palm-row first'>
         <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
           <div class="title">
              <div class="label">Hide thumbnails</div>
              <div style="float:left" x-mojo-element="ToggleButton" id="hide_thumbnail_toggle_button"></div>
           </div>
         </div>
       </div>

       <div class='palm-row'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
                <div class="label">Hide easy links</div>
                <div style="float:left" x-mojo-element="ToggleButton" id="hide_easylinks_toggle_button"></div>
             </div>
          </div>
       </div>

       <div class='palm-row'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
                <div class="label">Single card</div>
                <div style="float:left" x-mojo-element="ToggleButton" id="samecard_toggle_button"></div>
             </div>
          </div>
       </div>
      
       <div class='palm-row last'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
                <div class="label">Lock Orientation</div>
                <div style="float:left" x-mojo-element="ToggleButton" id="lock_orientation_toggle_button"></div>
             </div>
          </div>
       </div>
    </div>
  </div>

  <div class="palm-group unlabeled">
    <div class="palm-list">

       <div class='palm-row first'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
                <div class="label">Articles per page</div>                
             </div>
          </div>
       </div>
      
       <div class='palm-row last'>            
          <div x-mojo-element="ListSelector" id="articles_per_page_radio_button" class="listselectorClass"></div>
       </div>
      
    </div>
  </div>
  
  <div class="palm-group unlabeled">
    <div class="palm-list">

       <div class='palm-row first'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
                <div class="label">Theme</div>                
             </div>
          </div>
       </div>
      
       <div class='palm-row last'>            
          <div x-mojo-element="ListSelector" id="theme_radio_button" class="listselectorClass"></div>
       </div>
      
    </div>
  </div>
  
  <div class="palm-group unlabeled">
    <div class="palm-list">

       <div class='palm-row first'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
                <div class="label">Default Frontpage</div>                
             </div>
          </div>
       </div>
      
       <div class='palm-row last'>            
          <div x-mojo-element="ListSelector" id="frontpage_button" class="listselectorClass"></div>
       </div>
      
    </div>
  </div>

