

  <div class="palm-group unlabeled">
    <div class="palm-list">

       <div class='palm-row first'>
         <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
           <div class="title">
              <div class="label">Hide thumbnails</div>
              <div style="float:left" x-mojo-element="ToggleButton" id="hide_thumbnail_toggle_button"></div>
           </div>
         </div>
       </div>

       <div class='palm-row'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
                <div class="label">Show easy links</div>
                <div style="float:left" x-mojo-element="ToggleButton" id="hide_easylinks_toggle_button"></div>
             </div>
          </div>
       </div>

       <div class='palm-row'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
                <div class="label">Single card</div>
                <div style="float:left" x-mojo-element="ToggleButton" id="samecard_toggle_button"></div>
             </div>
          </div>
       </div>
      
       <div class='palm-row'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
                <div class="label">Lock Orientation</div>
                <div style="float:left" x-mojo-element="ToggleButton" id="lock_orientation_toggle_button"></div>
             </div>
          </div>
       </div>
      
      <div class='palm-row'>
        <div x-mojo-element="ListSelector" id="articles_per_page_radio_button" class="listselectorClass"></div>
      </div>
      
      <div class='palm-row'>   
        <div x-mojo-element="ListSelector" id="theme_radio_button" class="listselectorClass"></div>
      </div>
      
      <div class='palm-row last'>
        <div x-mojo-element="ListSelector" id="frontpage_button" class="listselectorClass"></div>
      </div>
      
    </div>
  </div>
  
  <div class="palm-group unlabeled">
    <div class="palm-list">
      
      <div class='palm-row first'>
         <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
               <div class="label">Galleries</div>                
            </div>
         </div>
      </div>

      <div class='palm-row first last'>
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">
           <div class="title">
              <div id="galleriesTextFieldId" x-mojo-element="TextField" align="left"></div>
           </div>
        </div>
      </div>

    </div>
  </div>
  
  <div class="palm-group unlabeled">
    <div class="palm-list">
      
      <div class='palm-row first'>
         <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
               <div class="label">Notifications</div>                
            </div>
         </div>
      </div>
      
      <div class='palm-row'>
         <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
               <div class="label">Messages</div>
               <div style="float:left" x-mojo-element="ToggleButton" id="message_notifications_toggle_button"></div>
            </div>
         </div>
      </div>
      
      <div class='palm-row'>
         <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
               <div class="label">Karma</div>
               <div style="float:left" x-mojo-element="ToggleButton" id="karma_notifications_toggle_button"></div>
            </div>
         </div>
      </div>
      
      <div class='palm-row'>
         <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
               <div x-mojo-element="IntegerPicker" id="notification_interval" class="integerpickerClass"></div>
            </div>
         </div>
      </div>

    </div>
  </div>

