  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="title left un-capitalize" id="reddit-heading">
      </div>
    </div>
  </div>

  <div class="palm-group unlabeled">
    <div class="palm-group-title">Info</div>
    <div class="palm-list">
      <div class='palm-row first'>
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">          
          <div class="label">created</div>
          <div id="created_field"></div>
        </div>
      </div>
      <div class='palm-row'>
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">         
          <div class="label">comment karma</div>
          <div id="comment_karma_field"></div>
        </div>
      </div>
      <div class='palm-row last'>
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">          
          <div class="label">link karma</div>
          <div id="link_karma_field"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div x-mojo-element="Button" id="messageButton"></div>

	<div id="list" x-mojo-element="List"></div>
