<div class="thing-container" id="#{data.name}">
  <div class="thing #{cssclassFormatted}" style="margin-left:#{indentFormatted}px;">
    <div class="comment_desc"><b>#{data.author}</b> #{scoreFormatted} #{timeFormatted}</div>
    <div class="#{tagClassFormatted}">&nbsp;&nbsp;OP</div>
    <div class="vote_desc"><b>#{voteFormatted}</b></div>
    <div class="comment_spacer">&nbsp;</div>
    <div>#{-thumbnailFormatted}</div>
    <div>#{-easyLinksHTML}</div>
    <div><strong>#{-data.title}</strong></div>
    <div>#{-bodyFormatted}</div>
    <div><font color='red'>#{hidingCommentsFormatted}</font></div>
  </div>
</div>
