

a[href="/lol"]:after, a[href="/poker"]:after, a[href="/ok"]:after, a[href="/wetodddog"]:after, a[href="/sadtroll"]:after, a[href="/trolldad"]:after, a[href="/high"]:after, a[href="/son"]:after, a[href="/troll"]:after, a[href="/fu"]:after, a[href="/fy1"]:after, a[href="/yey"]:after, a[href="/uhm"]:after, a[href="/happy"]:after, a[href="/beh"]:after, a[href="/gah"]:after, a[href="/perfect"]:after, a[href="/wat"]:after, a[href="/ewbte"]:after, a[href="/pft"]:after, a[href="/futext"]:after, a[href="/megusta"]:after, a[href="/dude"]:after, a[href="/rtroll"]:after, a[href="/rmilk"]:after, a[href="/milk"]:after, a[href="/pickletime"]:after, a[href="/gwah"]:after, a[href="/harpdarp"]:after, a[href="/ghappy"]:after, a[href="/gohno"]:after, a[href="/gfu"]:after, a[href="/gsmile"]:after, a[href="/gbeh"]:after, a[href="/gwat"]:after, a[href="/guhm"]:after, a[href="/gyey"]:after, a[href="/gtongue"]:after, a[href="/vuvu"]:after, a[href="/red"]:after, a[href="/notsure"]:after, a[href="/okay"]:after, a[href="/bepislaughingatyou"]:after, a[href="/fuckthatshit"]:after, a[href="/wtf"]:after, a[href="/teethrage"]:after, a[href="/megustaperfect"]:after, a[href="/foreveralonewithyourmum"]:after, a[href="/foreveralone"]:after, a[href="/forever"]:after, a[href="/blackhair"]:after, a[href="/omg"]:after, a[href="/eyes"]:after, a[href="/awman"]:after, a[href="/straight"]:after, a[href="/pissed"]:after, a[href="/hmm"]:after, a[href="/whoa"]:after, a[href="/sad"]:after, a[href="/hehheh"]:after, a[href="/bepinthemorning"]:after, a[href="/welp"]:after, a[href="/melvin"]:after, a[href="/stare"]:after, a[href="/challengeaccepted"]:after, a[href="/fumanchu"]:after, a[href="/wayevil"]:after {
    background-image: url("http://thumbs.reddit.com/t5_2qqlo_22.png?v=r2jj7k9uq9fwy53ymyddws5of985ncxwqexz");
    content: " ";
    display: inline-block;
    height: 25px;
    width: 25px;
}

a[href="/lol"]:after {
    background-position: 0 -120px;
}
a[href="/poker"]:after {
    background-position: -60px -60px;
    height: 30px;
    width: 30px;
}
a[href="/ok"]:after {
    background-position: 0 -150px;
    height: 27px;
    width: 30px;
}
a[href="/wetodddog"]:after {
    background-position: -30px -90px;
    height: 35px;
    width: 30px;
}
a[href="/sadtroll"]:after {
    background-position: 0 -90px;
    height: 20px;
}
a[href="/trolldad"]:after {
    background-position: -218px -287px;
    height: 61px;
    width: 44px;
}
a[href="/high"]:after {
    background-position: -30px -60px;
}
a[href="/son"]:after {
    background-position: 0 -60px;
}
a[href="/troll"]:after {
    background-position: -150px -60px;
}
a[href="/fu"]:after {
    background-position: 0 -30px;
}
a[href="/fy1"]:after {
    background-position: -240px -30px;
}
a[href="/yey"]:after {
    background-position: -210px -30px;
}
a[href="/uhm"]:after {
    background-position: -150px -30px;
}
a[href="/happy"]:after {
    background-position: -120px -30px;
}
a[href="/beh"]:after {
    background-position: -30px -30px;
}
a[href="/gah"]:after {
    background-position: -60px -30px;
}
a[href="/perfect"]:after {
    background-position: -90px -30px;
}
a[href="/wat"]:after {
    background-position: -180px -30px;
}
a[href="/ewbte"]:after {
    background-position: -270px -30px;
}
a[href="/pft"]:after {
    background-position: -270px -60px;
}
a[href="/futext"]:after {
    background-position: -240px -60px;
}
a[href="/megusta"]:after {
    background-position: -120px -60px;
}
a[href="/dude"]:after {
    background-position: -120px -90px;
    width: 23px;
}
a[href="/rtroll"]:after {
    background-position: -180px -60px;
}
a[href="/rmilk"]:after {
    background-position: -90px -60px;
}
a[href="/milk"]:after {
    background-position: -210px -60px;
}
a[href="/pickletime"]:after {
    background-position: -240px -90px;
    height: 20px;
    width: 60px;
}
a[href="/gwah"]:after {
    background-position: -120px 0;
}
a[href="/harpdarp"]:after {
    background-position: -60px -90px;
    height: 40px;
    width: 40px;
}
a[href="/ghappy"]:after {
    background-position: -150px 0;
}
a[href="/gohno"]:after {
    background-position: -120px 0;
}
a[href="/gfu"]:after {
    background-position: -240px 0;
}
a[href="/gsmile"]:after {
    background-position: -60px 0;
}
a[href="/gbeh"]:after {
    background-position: -180px 0;
}
a[href="/gwat"]:after {
    background-position: -30px 0;
}
a[href="/guhm"]:after {
    background-position: -270px 0;
}
a[href="/gyey"]:after {
    background-position: 0 0;
}
a[href="/gtongue"]:after {
    background-position: -90px 0;
}
a[href="/vuvu"]:after {
    background-position: -90px -180px;
    height: 30px;
    width: 30px;
}
a[href="/red"]:after {
    background-position: -240px -150px;
    height: 30px;
    width: 35px;
}
a[href="/notsure"]:after {
    background-position: 0 -180px;
    height: 34px;
}
a[href="/okay"]:after {
    background-position: -150px -180px;
    height: 60px;
    width: 60px;
}
a[href="/bepislaughingatyou"]:after {
    background-position: 0 -240px;
    height: 90px;
    width: 70px;
}
a[href="/fuckthatshit"]:after {
    background-position: 0 -240px;
    height: 90px;
    width: 70px;
}
a[href="/wtf"]:after {
    background-position: -90px -300px;
    height: 90px;
    width: 70px;
}
a[href="/teethrage"]:after {
    background-position: -150px -240px;
    height: 60px;
    width: 60px;
}
a[href="/megustaperfect"]:after {
    background-position: -30px -180px;
    height: 55px;
    width: 60px;
}
a[href="/foreveralonewithyourmum"]:after {
    background-position: -210px -180px;
    height: 90px;
    width: 90px;
}
a[href="/foreveralone"]:after {
    background-position: -210px -180px;
    height: 90px;
    width: 90px;
}
a[href="/forever"]:after {
    background-position: -210px -180px;
    height: 90px;
    width: 90px;
}
a[href="/blackhair"]:after {
    background-position: -30px -150px;
    height: 28px;
    width: 30px;
}
a[href="/omg"]:after {
    background-position: -120px -120px;
    height: 27px;
    width: 30px;
}
a[href="/eyes"]:after {
    background-position: -150px -88px;
    width: 24px;
}
a[href="/awman"]:after {
    background-position: -180px -90px;
    height: 29px;
    width: 35px;
}
a[href="/straight"]:after {
    background-position: -90px -150px;
    width: 30px;
}
a[href="/pissed"]:after {
    background-position: -180px -120px;
    height: 28px;
}
a[href="/hmm"]:after {
    background-position: -210px -120px;
    height: 28px;
    width: 26px;
}
a[href="/whoa"]:after {
    background-position: -240px -120px;
    width: 23px;
}
a[href="/sad"]:after {
    background-position: -267px -120px;
    height: 28px;
    width: 25px;
}
a[href="/hehheh"]:after {
    background-position: -60px -150px;
    width: 24px;
}
a[href="/bepinthemorning"]:after {
    background-position: -120px -150px;
    height: 30px;
    width: 105px;
}
a[href="/welp"]:after {
    background-position: -93px -232px;
    height: 33px;
}
a[href="/challengeaccepted"]:after {
    background-position: -169px -311px;
    height: 43px;
    width: 33px;
}
a[href="/stare"]:after {
    background-position: -166px -359px;
    height: 36px;
    width: 45px;
}
a[href="/fumanchu"]:after {
    background-position: -220px -354px;
    height: 37px;
    width: 61px;
}
a[href="/wayevil"]:after {
    background-position: -39px -339px;
    height: 41px;
    width: 45px;
}
a[href="/melvin"]:after {
    background-position: -7px -345px;
    height: 27px;
    width: 24px;
}
a[href="/itstime"]:after, a[href="/gtfo"]:after, a[href="/longneck"]:after, a[href="/aintthatsomeshit"]:after, a[href="/cereal"]:after, a[href="/ohcrap"]:after, a[href="/gtroll"]:after, a[href="/notokay"]:after, a[href="/fap"]:after, a[href="/nomegusta"]:after, a[href="/awyeah"]:after, a[href="/awyea"]:after, a[href="/surprised"]:after, a[href="/suprised"]:after, a[href="/why"]:after, a[href="/schlick"]:after, a[href="/yuno"]:after, a[href="/ilovethebeefytaco"]:after, a[href="/sweetjesus"]:after, a[href="/foreveralonelaugh"]:after, .id-t1_c1ne496 .md:after {
    background-image: url("http://thumbs.reddit.com/t5_2qqlo_46.png?v=ml0g1odmhkz47z3fy6oe10kfrv325fquyj57");
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
}
a[href="/itstime"]:after {
    background-position: 0 0;
    height: 41px;
    width: 40px;
}
a[href="/gtfo"]:after {
    background-position: -226px -153px;
    height: 24px;
    width: 30px;
}
a[href="/longneck"]:after {
    background-position: 0 -144px;
    height: 56px;
    width: 65px;
}
a[href="/aintthatsomeshit"]:after {
    background-position: -40px 0;
    height: 41px;
    width: 50px;
}
a[href="/cereal"]:after {
    background-position: -90px 0;
    height: 33px;
    width: 40px;
}
a[href="/ohcrap"]:after {
    background-position: 0 -88px;
    height: 29px;
    width: 30px;
}
a[href="/gtroll"]:after {
    background-position: -83px -45px;
    height: 33px;
    width: 35px;
}
a[href="/notokay"]:after {
    background-position: -43px -42px;
    height: 38px;
    width: 31px;
}
a[href="/fap"]:after {
    background-position: -46px -85px;
    height: 45px;
    width: 40px;
}
a[href="/nomegusta"]:after {
    background-position: 0 -117px;
    width: 24px;
}
a[href="/awyeah"]:after, a[href="/awyea"]:after {
    background-position: -136px 0;
    height: 40px;
    width: 65px;
}
a[href="/surprised"]:after, a[href="/suprised"]:after {
    background-position: -136px -44px;
    height: 24px;
}
a[href="/why"]:after {
    background-position: -136px -72px;
    height: 31px;
    width: 26px;
}
a[href="/schlick"]:after {
    background-position: -86px -85px;
    height: 45px;
    width: 39px;
}
a[href="/yuno"]:after {
    background-position: 0 -41px;
    height: 43px;
    width: 45px;
}
a[href="/ilovethebeefytaco"]:after {
    background-position: -265px -118px;
    height: 35px;
    width: 35px;
}
a[href="/sweetjesus"]:after {
    background-position: -225px -110px;
    height: 40px;
    width: 42px;
}
a[href="/foreveralonelaugh"]:after {
    background-position: -205px 0;
    height: 90px;
    width: 95px;
}
.id-t1_c1ne496 .md:after {
    background-position: -265px -118px;
    height: 35px;
    width: 35px;
}
a[href="/ewbtetext"]:after, a[href="/pfttext"]:after, a[href="/pfttext"]:after, a[href="/bepistrollingyoubetter"]:after, a[href="/ohisthatacarrot"]:after, a[href="/HAHAHAHAHA"]:after, a[href="/chrisbrpwned"]:after, a[href="/21424"]:after, a[href="/carrt"]:after, a[href="/2229"]:after, a[href="/sweetjesus"]:after, a[href="/smokeweedeveryday"]:after, a[href="/jackieeeee!"]:after, a[href="/jasonqualman"]:after, .id-t1_c1nz8k5 .md:after {
    background-image: url("http://thumbs.reddit.com/t5_2qqlo_10.png?v=xlys5ftbff1em2oximbbv0e9mx9b7eqku0ue");
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
}
a[href="/ewbtetext"]:after {
    background-position: 0 -304px;
    width: 14px;
}
a[href="/pfttext"]:after {
    background-position: 0 -711px;
    width: 12px;
}
a[href="/bepistrollingyoubetter"]:after {
    background-position: 0 -589px;
    height: 72px;
    width: 69px;
}
a[href="/ohisthatacarrot"]:after, a[href="/carrt"]:after {
    background-position: 0 -222px;
    height: 32px;
    width: 32px;
}
a[href="/HAHAHAHAHA"]:after {
    background-position: 0 -1167px;
    height: 35px;
    width: 35px;
}
a[href="/chrisbrpwned"]:after, a[href="/21424"]:after {
    background-position: 0 -994px;
    height: 123px;
    width: 91px;
}
a[href="/2229"]:after {
    background-position: 0 0;
    height: 68px;
    width: 50px;
}
a[href="/sweetjesus"]:after {
    background-position: 0 -899px;
    height: 45px;
    width: 45px;
}
a[href="/smokeweedeveryday"]:after {
    background-position: 0 -118px;
    height: 54px;
    width: 45px;
}
a[href="/jackieeeee!"]:after {
    background-position: 0 -379px;
    height: 60px;
    width: 95px;
}
a[href="/jasonqualman"]:after {
    background-position: 0 -489px;
    height: 50px;
    width: 50px;
}
.id-t1_c1nz8k5 .md:after {
    background-position: 0 -786px;
    height: 63px;
    width: 56px;
}
a[href="/grandma"]:after {
    content: "I LIKE BIG HAIRY BALLS!";
    display: inline-block;
}