<div id='filterfield' class="searchbar" x-mojo-element='FilterField'></div>

<div id="scroller1" style="width:512px; height:768px;float:left;" x-mojo-element="Scroller">
  <div id="list" x-mojo-element="List"></div>
</div>

<div id="scroller2" style="width:512px; height:768px;float:right;" x-mojo-element="Scroller">
  <div id="list2" x-mojo-element="List"></div>
</div>

<div x-mojo-element="Button" id="loadMoreButton"></div>

<div id="loading" class="loading"><div id="spinner" x-mojo-element="Spinner"></div></div>