
<div>
  <div class="palm-group unlabeled">
    <div class="palm-list">

       <div class='palm-row first'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
               <div class="label">username</div>
               <div id="textFieldId" x-mojo-element="TextField" align="left"></div>
             </div>
          </div>
       </div>

       <div class='palm-row'>
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
             <div class="title">
                <div class="label">password</div>
                <div id="passwordFieldId" x-mojo-element="PasswordField" align="left"></div>
             </div>
          </div>
       </div>

      <div class='palm-row'>
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true" align="center">
          <img id="image_id" src="">
        </div>
      </div>

      <div class='palm-row last'>
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
           <div class="title">
              <div class="label">Are you human?</div>
              <div id="captchaTextFieldId" x-mojo-element="TextField" align="left"></div>
           </div>
        </div>
      </div>
   </div>
  </div>

  <div x-mojo-element="Button" id="registerButton"></div>
</div>