<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="title left un-capitalize" id="reddit-heading">
    </div>
  </div>
</div>

<div class="palm-group">
  
  <div class="palm-list">
    
    <div class='palm-row first'>
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">
         <div class="title">
            <div id="submit-title" x-mojo-element="TextField"></div>
         </div>
      </div>
    </div>
    
    <div class='palm-row' id="submit-url-row">
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">
         <div class="title">
            <div id="submit-url" x-mojo-element="TextField"></div>
         </div>
      </div>
    </div>
    
    <div class='palm-row' id="submit-text-row">
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">
         <div class="title">
            <div id="submit-text" x-mojo-element="TextField"></div>
         </div>
      </div>
    </div>
    
    <div class='palm-row last'>
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">
         <div class="title">
            <div id="submit-reddit" x-mojo-element="TextField"></div>
         </div>
      </div>
    </div>
    
  </div>
</div>

<div x-mojo-element="Button" id="submitButton"></div>
